@{
    ViewData["Title"] = "Index";
    List<UPECConnect.Data.Models.Empresa> empresas = ViewBag.Acessos;
}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="row my-4">
    <div class="col-6">
        <h2>Gerir Empresas</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Adicionar</a>
        <a asp-controller="UsersEmpresas" asp-action="Index" class="btn btn-danger">Voltar</a>
    </div>
</div>

@if (empresas.Count() != 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in empresas)
            {
                <tr>
                    <td width="35%">@item.Sigla</td>
                    <td width="35%">@item.Nome</td>
                    <td width="30%">
                        <div class="w-100 btn-group" role="group">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary mx-1">Detalhes</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mx-1">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não tem acesso a nenhuma empresa</p>
}
